<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top K Videos</title>
</head>
<body>
    <h1>Top {{ videos|length }} Videos</h1>
    <ul>
        {% for video in videos %}
            <li>
                <video width="320" height="240" controls>
                    <source src="{{ url_for('serve_video', seq=video) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p>{{ video }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>